/* Global Styles */
body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
    color: #000;
    background-color: #dddddd;
}

/* Header Styles */
header {
	background-color: #333;
	color: #fff;
	display: flex;
	align-items: center;
	padding: 20px;
	justify-content: space-between;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	align-items: center;
}

nav li {
	margin-right: 20px;
}

nav a {
	color: #ffffff;
	text-decoration: none;
	font-size: 18px;
}

nav a:hover {
	text-decoration: underline;
}

/* Banner Styles */
.banner {
	background-image: url('banner.jpg');
	background-size: cover;
	background-position: center;
	height: 400px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.banner-text {
	text-align: center;
}

.banner h2 {
	font-size: 48px;
	margin-bottom: 20px;
}

.banner p {
	font-size: 24px;
	margin-bottom: 30px;
}

.btn {
	background-color: #fff;
	color: #333;
	padding: 10px 20px;
	border-radius: 5px;
	text-decoration: none;
	font-size: 16px;
}

.btn:hover {
	background-color: #dddddd;
}

/* Products Styles */
.products {
	padding: 50px 0;
	text-align: center;
}

.products h2 {
	font-size: 36px;
	margin-bottom: 50px;
}

.products ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.products li {
	margin: 20px;
	background-color: #f2f2f2;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	flex: 1;
	max-width: 350px;
}

.products li img {
	max-width: 100%;
}

.products li h3 {
	font-size: 24px;
	margin-bottom: 10px;
}

.products li p {
	font-size: 16px;
	margin-bottom: 20px;
}

/* About Styles */
.about {
	background-color: #f2f2f2;
	padding: 50px;
	text-align: center;
}

.about h2 {
	font-size: 36px;
	margin-bottom: 50px;
}

/* Contact Styles */
.contact {
	padding: 50px;
	text-align: center;
}

.contact h2 {
	font-size: 36px;
	margin-bottom: 50px;
}

.contact label {
	display: block;
	font-size: 20px;
	margin-bottom: 10px;
}

.contact input[type="text"],
.contact input[type="email"],
.contact textarea {
	padding: 10px;
	border-radius: 5px;
	border: none;
	margin-bottom: 20px;
	width: 100%;
}

.contact textarea {
	height: 200px;
}

.contact input[type="submit"] {
	background-color: #333;
	color: #fff;
	padding: 10px 20px;
	border-radius: 5px;
	border: none;
	font-size: 16px;
	cursor: pointer;
}

.contact input[type="submit"]:hover {
	background-color: #444;
}

/* Footer Styles */
footer {
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
	font-size: 16px;
}
